body{
	font-size: 15px;
	font-family: arial, sans-serif;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/*Global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
ul{
	margin: 0;
	padding: 0;
}
.button_1{
	height:38px;
	background:#e8491d;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}
.highlight{
	color: #e8491d;
	font-weight: bold;
}
.dark{
	padding: 15px;
	background:#35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*Header*/
header{
	background: #35424a;
	color: #ffffff;
	padding-top: 10px;
	min-height: 60px;
	border-bottom: #e8491d 5px solid;
}
header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}
header li{
	float: left;
	display: inline;
	padding: 0 10px 0 10px;
}
header #branding{
	float: left;
}
header #branding h1{
	margin: 0;
}
header nav{
	float: right;
	padding-top: 10px;
}
header nav:hover{
	
}
header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}
header a:hover{
	color: #cccccc;
	font-weight: bold;
}
/*Showcase*/
#showcase{
	min-height: 400px;
	background: url(../img/showcase.jpg) no-repeat -150px -200px;
	text-align: center;
	color: #ffffff;
}
#showcase h1{
	margin-top: 100px;
	margin-bottom: 10px;
	font-size: 55px;
}
#showcase p{
	font-size: 20px;
}
/*Newsletter*/
#newsletter{
	background: #eaeaea;
	padding: 15px;
	color: #ffffff;
	border-bottom: #dbd9d9 2px solid;
}
#newsletter h1{
	text-decoration: none;
	float: left;
	color: #4b4b4b;
	font-size: 14px;
	margin-right: 20px;
}

/*
This is clashing with tags-input.
#newsletter form{
	padding-right: 10%;
	float: right;
	margin: 15px;
}*/
#newsletter input[type="text"]{
	padding: 4px;
	height: 25px;
	width: 250px;
	margin-right: 30px;
}
select{
	width: 200px;
	padding: 9px 4px;
	margin-right: 30px;
}
/*Boxex*/
#boxes{
	margin-top: 20px;
	margin-left: 4%;
}
#boxes .box{
	font-size: 12px;
	width: 25%;
	height: 470px;
	float: left;
	padding:10px;
	margin: 20px;
	text-align: center;
	border: #dbd9d9 2px solid;
}
.box a{
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}
.box a:hover{
	font-size: 14px;
	color: #076ba2;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}
#boxes img{
	width: 150px;
}
/*Sidebar*/
aside#sidebar{
	width: 30%;
	float: right;
	margin-top: 10px;
	text-align: justify;
}
/*Main col*/
article#main-col{
	float: left;
	width: 65%;
	text-align: justify;
}
/*Services*/
ul#services li{
	list-style: none;
	padding: 20px;
	border: #cccccc 1px solid;
	margin-bottom: 5px;
	background: #e6e6e6;
}
aside#sidebar .quote input,aside#sidebar .quote textarea{
	width: 90%;
	padding: 5px;
}
/*Footer*/
footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #e8491d;
	text-align: center;
}
.img-circle{
	clip-path: circle(70px at center);
}
/*Media Queries*/
@media(max-width: 768px){
	header #branding, header nav, header nav li,
	#newsletter h1, #newsletter form,
	#boxes .box,article#main-col,aside#sidebar
	{
		float: none;
		text-align: center;
		width: 100%;
	}
	header{
		padding-bottom: 20px;
	}
	#showcase h1{
		margin-top: 40px;
	}
	#newsletter button, .quote button{
		display: block;
		width: 100%;
	}
	#newsletter input[type="email"], .quote input, .quote textarea{
		width: 100%;
		margin-bottom: 5px;
	}
}