<section id="newsletter">
    <div class="container">
            <h1>Filters</h1>
            <select  name="IITName" [(ngModel)]="searchIIT">
				  <option >All IIT</option>
				  <option >IIT Bombay</option>
				  <option >IIT Delhi</option>
				  <option >IIT Kanpur</option>
				  <option >IIT Mandi</option>
				  <option >IIT Roorkee</option>
            </select>
            <select name="Category">
				  <option value="searchByIIT">Search by Category</option>
				  <option value="name">Name</option>
				  <option value="research">Research Field</option>
            </select>
            <input [(ngModel)]="searchText" type="text" name="enter" placeholder="Search..">
            <!-- <button type="submit" class="button_1">Search</button> -->
    </div>
</section>
<section id="boxes">
    <div class="container">
        <div *ngFor="let fac of data | filter:searchIIT:searchText" class="box">
            <img class="img-circle" src={{fac.image}}>
            <h3><a href={{fac.link}} target="_blank">{{fac.name}}</a></h3>
            <p><b>Research Interests</b> : {{fac.research}}</p>
            <p><b>Email</b> : {{fac.email}}</p>
            <p><b>Phone</b> : {{fac.phone}}</p>
            <p><b>College</b> : {{fac.collegeName}}</p>
        </div>
        <!--<div class="box">
            <img src="../../assets/img/avatar.png">
            <h3>Name2</h3>
            <p><b>Work Area</b> : random text</p>
            <p><b>Email</b> : random email</p>
            <p><b>Phone</b> : random phone no</p>
            <p><b>Link</b> : <a href="#">random link</a></p>
        </div>
        <div class="box">
            <img src="../../assets/img/avatar.png">
            <h3>Name3</h3>
            <p><b>Work Area</b> : random text</p>
            <p><b>Email</b> : random email</p>
            <p><b>Phone</b> : random phone no</p>
            <p><b>Link</b> : <a href="#">random link</a></p>
        </div>
        <div class="box">
            <img src="../../assets/img/avatar.png">
            <h3>Name4</h3>
            <p><b>Work Area</b> : random text</p>
            <p><b>Email</b> : random email</p>
            <p><b>Phone</b> : random phone no</p>
            <p><b>Link</b> : <a href="#">random link</a></p>
        </div>-->
    </div>
</section>
<div *ngFor="let item of content | filter : searchText">
    {{item}}
</div>